body {
  font-size: 20px;
}

h1 {
  text-align: center; 
  font-size: 30px;
}

p {
  margin: 50px;
}

p.a, p.q {
  margin: 10px;
  border: 2px solid black;
  text-align: center;
}

.box1 {
  display: flex;
  flex-wrap: nowrap;
  background-color: #db6b3b;
  }

.box1 > div {
  width: 50%;
  margin: 3px;
  text-align: center;
  background-color: #dae0e0;
  }

.box2 {
  display: flex;
  flex-wrap: nowrap;
  background-color: #db6b3b;
  }

.box2 > div {
  width: 50%;
  margin: 3px;
  text-align: center;
  background-color: #a8adad;
  }

.box3 {
  display: flex;
  flex-wrap: nowrap;
  background-color: #db6b3b;
  }

.box3 > div {
  width: 50%;
  margin: 3px;
  text-align: center;
  background-color: #dae0e0;
  }

.box4 {
  display: flex;
  flex-wrap: nowrap;
  background-color: #db6b3b;
  }

.box4 > div {
  width: 50%;
  margin: 3px;
  text-align: center;
  background-color: #a8adad;
  }
