body {
  font-size: 20px;
}

h1 {
  text-align: center; 
  font-size: 30px;
}

p.a, p.q {
  margin: 10px;
  border: 3px dashed black;
}

.box1 {
  display: flex;
  flex-wrap: nowrap;
  background-color: darkorange;
  }

.box1 > div {
  width: 50%;
  margin: 3px;
  text-align: center;
  background-color: lightgray;
  }

.box2 {
  display: flex;
  flex-wrap: nowrap;
  background-color: darkorange;
  }

.box2 > div {
  width: 50%;
  margin: 3px;
  text-align: center;
  background-color: lightgray;
  }

.box3 {
  display: flex;
  flex-wrap: nowrap;
  background-color: darkorange;
  }

.box3 > div {
  width: 50%;
  margin: 3px;
  text-align: center;
  background-color: lightgray;
  }


.box4 {
  display: flex;
  flex-wrap: nowrap;
  background-color: darkorange;
  }

.box4 > div {
  width: 50%;
  margin: 3px;
  text-align: center;
  background-color: lightgray;
  }
